.conteudo-principal {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-principal > section{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article img{
    max-width: 200px; max-height: 200px;
    cursor: pointer;
}

article p{
    color: white;
}

.player p, .playerData p, .atualEnemyData p{
    width: 40%;
    text-align: center;
    font-family: "Google Sans Code", monospace;
    background-color: rgba(0, 0, 0, 0.562);
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
}

.atualEnemyData h3{
    font-family: "Jolly Lodger", system-ui;
    color: white;
    -webkit-text-stroke: 0.5px rgb(24, 5, 36);
        
    font-size: 28pt;
}

.part-game {
    flex: 1;
    gap: 0.1rem;
}

.dano {
    animation: hitFlash 0.1s;
}

@keyframes hitFlash {
    0% { filter: brightness(5) contrast(4); }
    100% { filter: brightness(1) contrast(1); }
}

.number-counter{
    position: absolute;
    display: none;
    opacity: 0;
    transition: all 50ms ease-in-out;

    font-family: "Google Sans Code", monospace;
    color: rgb(68, 19, 97);

    background-color: rgba(216, 62, 255, 0.822);
    border: rgb(68, 19, 97) 2px solid;
    padding: 0.2rem 0.5rem;
    
    border-radius: 0.5rem;

    font-size: 15pt;
    font-weight: bolder;
}

.chat-conteiner{
    position: absolute;
    bottom: 2vh; left: 2vw;
    overflow: hidden;
    width: 30vw; height: 60vh;
    box-sizing: border-box;

    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;

    padding: 0.5rem;
    gap: 0.5rem;
}

.chat{
    display: none;
    opacity: 0;
    transition: all 50ms ease-in-out;

    color: white;
    font-family: "Google Sans Code", monospace;
    background-color: rgba(0, 0, 0, 0.562);

    padding: 0.2rem 0.5rem;
    
    border-radius: 0.5rem;

    font-size: 12pt;
}

.barra-container{
    width: 100%;
    height: 20px;
    background-color: rgba(50, 13, 71, 0.836);
    border: 2px solid rgb(24, 5, 36);
    border-radius: 1rem;
    overflow: hidden;
}

.barra-preenchimento{
    height: 100%;
    background-image: var(--gradienteRoxo);
    transition: width 0.3s ease;
}
