html, body{
    overflow: hidden;
}

body{
    background-image: url("../images/iu/ground-blue.svg");
}

.options{
    position: absolute;
    width: 70vw; height: 70vh;
    
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    
    gap: 0.5rem;
    transition: all 250ms ease-in-out;
}

.options.recuado{
    width: 40vw;
    left: 25%;
}

.options > img{
    max-width: 150px; max-height: 150px;
    filter: drop-shadow(-2px 2px 4px #072780);    
}

.options > button{
    color: rgb(0, 53, 167);
    background-color: rgb(55, 135, 255);
    border: 2px solid rgb(0, 32, 100);
}

.options > button:hover{
    padding: 1.1rem;
}

.option {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.2s ease-in-out;
}

.option.aparecer{
    opacity: 1;
    transform: translateY(0);
}

.conteudo{
    width: 50vw; height: 72vh;

    opacity: 0;

    position: absolute;
    top: 50%; right: 2vw;
    transform: translate(90%, -50%);
    background-image: var(--gradienteAzul);

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid rgb(19, 24, 97);
    border-radius: 0.5rem;

    padding: 1rem;
    transition: all 250ms ease-in-out;
}

.conteudo.aparecer{
    opacity: 1;
    transform: translate(0%, -50%);
}

.conteudo h1{
    color: white;
    font-family: "Google Sans Code", monospace;
}

.conteudo p{
    color: white;
    font-family: "Google Sans Code", monospace;
}

.conteudo > button{
    width: 50%;
    cursor: pointer;
    color: white;
    font-family: "Google Sans Code", monospace;
    font-weight: bolder;

    margin: 0.2rem 0;
    padding: 0.2rem;
    outline: none;

    color: rgb(0, 53, 167);
    background-color: rgb(55, 135, 255);
    border: 2px solid rgba(0, 0, 0, 0.521);
    border-radius: 0.5rem;
}

.conteudo > button:hover{
    background-color: white;
}

.armas-conteiner{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.arma-conteiner{
    flex: 1;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: linear-gradient(to right bottom, rgb(255, 163, 24), rgb(206, 134, 0));
    padding: 0.5rem;
    border: 2px solid rgb(124, 106, 0);
    border-radius: 0.5rem;

    gap: 0.2rem;
}

.arma-conteiner > p{
    width: 90%;
    color: white;
    text-align: center;
    font-family: "Google Sans Code", monospace;
    background-color: rgba(0, 0, 0, 0.24);
    padding: 0.2rem 0.5rem;
    border: 2px solid rgb(145, 77, 0);
    border-radius: 0.5rem;
    font-size: 12pt;
}

.arma-conteiner > img{
    width: 70px; height: 70px;
    filter: drop-shadow(-2px 2px 4px #ffe60081);
}

.arma-conteiner button{
    background-color: rgb(255, 217, 0);
    border: rgb(133, 71, 0) 2px solid;
    border-radius: 0.5rem;

    box-sizing: border-box;
    padding: 0.2rem 1rem;

    font-family: "Google Sans Code", monospace;
    color: rgb(133, 71, 0);
    text-align: center;
    font-weight: bolder;

    cursor: pointer;
    font-size: 12pt;
}

.arma-conteiner button:hover{
    background-color: rgb(255, 255, 255);
}